* {
    font-family: "Knewave", Arial, Helvetica, sans-serif;
    color: black;
}
body {
    background-color: #fdf0d5;
}
header {
    background-color: #780000;
    position:fixed;
    top: 0;
    width: 100%;
}
li a {
    color: #c1121f;
}
menu {
  display: flex;
  flex-direction: row !important;
  list-style: none;
  justify-content: center;
}
menu li {
    flex: 0 0 15%;
    min-width: 110px;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003049;
    height: 7%;
    display: flex;
}
footer a {
    margin-right: 4%;
    text-align: right;
}
footer > * {
    margin-top: 15px;
    flex: 1 0 10%;
    margin-left: 4%;
    min-width: 105px;
}

main {
    position: fixed;
    top: 7.59%;
    width: 100%;
}