.word-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: 5%;   
}
.word-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    background-color: #94B4C1;
    box-shadow: 10px 10px 20px #444444;
    padding: 1%;
    border-radius: 10px;
    width: 35%;
    min-width: 300px;
    min-height: 105px;
    max-width: 400px;
    
}
.word-box * {
    flex: 1 0 auto;
}
.word-form {
    width: 100%;
    display: inline;
}   
.word-h1, .word-h2 {
    flex: 1 0 auto;
    text-shadow: 2px 2px 5px white;
}
.word-h2 {
    font-style: italic;
}
.word-form {
    display: flex;
    flex-direction: column;
    flex: 100 0 auto;
    margin-top: 40px;
}

.word-button {
    width: 25%;
    margin-left: 40%;
    margin-top: 20px;
    min-width: 50px;
    text-align: center;
    background-color: #FF955A;
    border-width: 0px;
}
.word-input {
    width: 100%;
    justify-self: center;
}