main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 0%;   
}
.settings-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    background-color: #94B4C1;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #444444;
    width: 35%;
    min-width: 300px;
    min-height: 375px;
    max-width: 400px;
    
}
.settings-box * {
    flex: 1 0 auto;
}
.settings-form {
    width: 100%;
    display: inline;
}   
.settings-h1, .settings-h2 {
    flex: 1 0 auto;
    text-shadow: 2px 2px 5px white;
}
.settings-h2 {
    font-style: italic;
}
.settings-form {
    display: flex;
    flex-direction: column;
    flex: 100 0 auto;
    margin-top: 40px;
}

.settings-button {
    width: 20%;
    margin-left: 40%;
    min-width: 50px;
    background-color: #FF955A;
    border: 0px;
    font-size: 1.2em;
}
.settings-input {
    width: 17%;
    min-width: 50px;
}
.form-check-label {
    font-size: 1.5em;
    justify-self: center;
}
.form-check-input {
    margin-top: 10px;
}
