* {
    font-family: "Knewave", Arial, Helvetica, sans-serif;
    color: black;
}
.scores {
    margin-left: 10%;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
th {
    font-family: 'Knewave', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.scores-h1 {
    margin-top: 5px;
    text-align: center;
    font-family: "Honk", Arial, Helvetica, sans-serif;
}
.sc-button {
    border-radius: 0% !important;
    border-color: black;
    border-width: 5px;
}